{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="margin-top-50">
        <div id="titlebar" class="gradient">
            <div class="container">
                <div class="row">

                    <div class="margin-top-100">
                        <div class='col-sm-6 col-sm-offset-3'>
                            <h1>{% trans "Change Password" %}</h1>
                            <p>{% trans 'Your password is now changed.' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
