{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- main-header -->
    <header class="main-header">

        <div class="container">
            <div class="text-center logo no-margin-bottom"><a href="index.html"><img src="assets/theme/images/logo.png"
                                                                                     alt=""></a></div>
            <h3 class="color-white text-center ">The India's Online Recruitment Referral Marketplace</h3>
            <div class="white-space-50"></div>
        </div>
    </header><!-- end main-header -->


    <!-- body-content -->
    <div class="body-content clearfix">

        <!-- block top -->
        <div class="bg-color1 block-section line-bottom">
            <div class="container text-center">
                <h2 class="">Discover Jobs. Refer Friends. Get Paid. Hire Smarter.</h2>
                <div class="white-space-15"></div>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

                <!-- world map -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img src="./assets/theme/images/World_map_png-7.png" alt="" class="img-full">
                    </div>
                </div><!-- world map -->

                <h4>JobPlanet helps people get jobs: <a href="#" class="color-white-mute">Over 3.5 million stories
                    shared</a></h4>
                <hr/>

                <div class="white-space-15"></div>
                <h2>Refer & Earn</h2>
                <p>Know what you earn and get paid fast</p>
                <p>Search open jobs and refer your friends to great companies. <br>
                    See deposits in your account as soon as the next day when your referral applies, <br>
                    interviews or gets hired.</p>
                <div class="white-space-15"></div>

                <!-- box with icon center -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="box-ic-center">
                            <i class="fa fa-laptop ic-box"></i>
                            <h4>Search & Share</h4>
                            <p>Browse and share open positions. Help friends connect with great jobs.</p>
                            <a href="{% url 'index' %}" class="btn btn-sm btn-pill btn-theme btn-line dark">Search a Jobs</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-ic-center ">
                            <i class="fa fa-envelope-o ic-box"></i>
                            <h4>Earn on Every Closer</h4>
                            <p>Make money every time a candidate you refer applies, interviews and is hired.  </p>
                            <a href="{% url 'account_signup' %}" class="btn btn-sm btn-pill btn-theme btn-line dark">Register Now</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-ic-center">
                            <i class="fa fa-tablet ic-box"></i>
                            <h4>Repeat</h4>
                            <p>No limit to your earning potential. Gain value from your network.</p>
                            <a href="{% url 'index' %}" class="btn btn-sm btn-pill btn-theme btn-line dark">Refer & Earn</a>
                        </div>
                    </div>
                </div><!-- box with icon center -->

                  <hr/>
                <div class="white-space-15"></div>
                <h2>We can help you get a job</h2>
                <p>Search, Apply, Get hired.</p>
                <p>Gain access to previously unreachable hiring managers and dream jobs. Benefit with insight into the
                    entire process and keep yourself out of the interview "black hole".</p>
                <div class="white-space-15"></div>

                <!-- box with icon center -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="box-ic-center">
                            <i class="fa fa-laptop ic-box"></i>
                            <h4>Web</h4>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin commodo. Cras purus odio, </p>
                            <a href="#" class="btn btn-sm btn-pill btn-theme btn-line dark">Find a Jobs</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-ic-center ">
                            <i class="fa fa-envelope-o ic-box"></i>
                            <h4>Email Alert</h4>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin commodo. Cras purus odio, </p>
                            <a href="#" class="btn btn-sm btn-pill btn-theme btn-line dark">Register Now</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-ic-center">
                            <i class="fa fa-tablet ic-box"></i>
                            <h4>Mobile</h4>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin commodo. Cras purus odio, </p>
                            <a href="#" class="btn btn-sm btn-pill btn-theme btn-line dark">Get App</a>
                        </div>
                    </div>
                </div><!-- box with icon center -->

                <hr/>
                <div class="white-space-15"></div>
                <h2>We can help you hire</h2>
                <p>Grow your team.Save time and money.</p>
                <div class="white-space-15"></div>

                <!-- box with icon center -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-ic-center">
                            <i class="fa fa-clipboard ic-box"></i>
                            <h4>Post a job</h4>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin commodo. Cras purus odio, </p>
                            <a href="#" class="btn btn-sm btn-pill btn-theme btn-line dark">Post a Job</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-ic-center ">
                            <i class="fa fa-search ic-box"></i>
                            <h4>Find Resumes</h4>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin commodo. Cras purus odio, </p>
                            <a href="#" class="btn btn-sm btn-pill btn-theme btn-line dark">Find Resumes</a>
                        </div>
                    </div>
                </div><!-- box with icon center -->

            </div>
        </div><!-- end block top -->

        <!-- testimonial -->
        <div class="bg-color2 block-section line-bottom">
            <div class="container text-center">
                <h2>Testimonial</h2>
                <div class="white-space-30"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="box-testimonial">
                            <p class="desc"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin commodo.</p>
                            <img src="./assets/theme/images/people/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-testimonial">
                            <p class="desc"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin commodo.</p>
                            <img src="./assets/theme/images/people/2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-testimonial">
                            <p class="desc"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin commodo.</p>
                            <img src="./assets/theme/images/people/3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-testimonial">
                            <p class="desc"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin commodo.</p>
                            <img src="./assets/theme/images/people/5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial -->

        <!-- patners logo-->
        <div class="bg-color1 block-section line-bottom">
            <div class="container text-center clients ">
                <a href="#"><img src="./assets/theme/images/patner/1.png" alt=""></a>
                <a href="#"><img src="./assets/theme/images/patner/2.png" alt=""></a>
                <a href="#"><img src="./assets/theme/images/patner/3.png" alt=""></a>
                <a href="#"><img src="./assets/theme/images/patner/4.png" alt=""></a>
                <a href="#"><img src="./assets/theme/images/patner/5.png" alt=""></a>
            </div>
        </div> <!-- end patners logo-->
    </div><!--end body-content -->

{% endblock %}
