{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load humanize %}


<body>
<!-- wrapper page -->

<!-- main-header -->
<header class="main-header">

    {% block content %}
        <!-- form search area-->
        <header class="main-header">

            <!-- mobile navbar -->
            <div class="container">
                <nav class="mobile-nav hidden-md hidden-lg">
                    <a href="#" class="btn-nav-toogle first">
                        <span class="bars"></span>
                        Menu
                    </a>
                    <div class="mobile-nav-block">
                        <h4>Navigation</h4>
                        <a href="#" class="btn-nav-toogle">
                            <span class="barsclose"></span>
                            Close
                        </a>

                        <ul class="nav navbar-nav">
                            <li class="active"><a href="job_list.html"><strong>Find a Job</strong></a></li>
                            <li class=""><a href="resume_list.html"><strong>Find Resumes</strong></a></li>
                            <li class=""><a href="job_post_1.html"><strong>Post a Job</strong></a></li>
                            <li><a href="#"><strong>Login</strong></a></li>
                            <li><a href="register.html"><strong>Register</strong></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Pages <span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="blog.html">Articles &amp; Blog</a></li>
                                    <li><a href="terms_privacy.html">Terms &amp; Privacy</a></li>
                                    <li><a href="error_404.html">Error 404</a></li>
                                    <li><a href="shortcode.html">Short Code</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Features
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="job_list.html">Find a Job</a></li>
                                    <li><a href="job_details.html">Job Details</a></li>
                                    <li><a href="resume_list.html">Find Resumes</a></li>
                                    <li><a href="resume_details.html">Resume Details</a></li>
                                    <li><a href="job_post_2.html">Post a Job</a></li>
                                    <li><a href="company_page.html">Company Profile</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- mobile navbar -->

            <!-- form search area-->
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <!-- logo -->
                        <div class="logo text-center-sm"><a href="{% url 'index' %}"><h1 style="color: white">
                            HiringNext</h1></a></div>
                    </div>

                    <div class="col-md-8">
                        <!-- form search -->
                        <form class="form-search-list" method="get" action="{% url 'search' %}">
                            <div class="row">
                                <div class="col-sm-5 col-xs-6 ">
                                    <div class="form-group">
                                        <label class="color-white">What</label>
                                        <input class="form-control" type="text" name="q"
                                               placeholder="job title, keywords or company name">
                                    </div>
                                </div>
                                <div class="col-sm-5 col-xs-6 ">
                                    <div class="form-group">
                                        <label class="color-white">Where</label>
                                        <input class="form-control" placeholder="city, province, or region">
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12 ">
                                    <div class="form-group">
                                        <label class="hidden-xs">&nbsp;</label>
                                        <button class="btn btn-block btn-theme  btn-success" type="submit"
                                                value="search">Search
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>  <!-- form search -->
                    </div>

                </div>

                <!-- modal Advanced search -->

            </div><!-- end form search area-->
        </header><!-- end main-header -->

        <div class="body-content clearfix">

            <div class="bg-color2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- box listing -->
                            <div class="block-section-sm box-list-area">

                                <!-- desc top -->


                                <!-- Job Openings List View -->
                                {% for job in object_list %}
                                    <div class="box-list">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-md-1 hidden-sm hidden-xs">
                                                    <div class="img-item"><img
                                                            src="{% static '/assets/theme/images/company-logo/1.jpg' %}"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-11">
                                                    <h3 class="no-margin-top"><a href="{{ job.get_absolute_url }}"
                                                                                 class="">{{ job.job_title }}<i
                                                            class="fa fa-link color-white-mute font-1x"></i></a>
                                                    </h3>
                                                    <h5>

                                                            <span class="color-black"><a
                                                                    href="{{ job.company_name.get_absolute_url }}">{{ job.company_name.company }}</a></span>
                                                        | <span class="color-white-mute">Location: </span><span
                                                            class="color-black"><a
                                                            href="{{ job.job_location.get_absolute_url }}">{{ job.job_location }}</a></span>
                                                        <span class="color-white-mute"> </span>

                                                        | <span class="color-white-mute">Industry:</span>
                                                        <a href="{{ job.industry.get_absolute_url }}"><span
                                                                class="color-black">{{ job.industry }}</span></a>

                                                        | <span class="color-white-mute">Salary: </span><span
                                                            class="color-black fa fa-rupee"> {{ job.salary_budget | intcomma }}</span>
                                                        | <span class="color-white-mute">Exp: </span><span
                                                            class="color-black">{{ job.experience }} yrs.</span>
                                                        |
                                                        <span class="color-white-mute">{{ job.job_created }}</span>
                                                    </h5>
                                                    <div class="text-success tags"> Keyskills:
                                                        {% for job_tag in job.tags.all %}
                                                            <span style="font-size: 15px; font-weight: 120;">
                                                            <a href="{% url 'tagged' job_tag.slug %}"><span>
                                                            <span class="tag">{{ job_tag.name }},</span>
                                                    </span>
                                                        </a>
                                                    </span>
                                                        {% endfor %}
                                                    </div>

                                                    <p class="text">{{ job.job_description | slice:"300" | lower }}...</p>

                                                    <a href="#modal-apply" data-toggle="modal" type="button"
                                                       class="btn btn-theme btn-primary btn-sm">
                                                        Apply
                                                    </a>
                                                    <a href="#modal-refer" data-toggle="modal"
                                                       type="button"
                                                       class="btn btn-theme btn-success btn-sm">
                                                        Refer & Earn
                                                    </a>

                                                    {#                                                        <button type="button" class="btn btn-theme btn-success btn-sm">#}
                                                    {#                                                            Refer & Earn#}
                                                    {#                                                        </button>#}
                                                    Referral Rewards: <span style="font-size: medium"
                                                                            class="color-black fa fa-rupee"> {{ job.referral_reward | intcomma }} </span>
                                                </div>
                                            </div>
                                        </div><!-- end item list -->

                                    </div>
                                {% endfor %}


                                <!-- form get alert -->
                                <div class="get_alert">
                                    <h4>Get email updates for the latest <span
                                            class=" ">PHP jobs in United States</span>
                                    </h4>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label>My Email</label>
                                                    <input class="form-control" placeholder="Enter Email">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="hidden-sm hidden-xs ">&nbsp;</label>
                                                    <button class="btn btn-theme btn-success btn-block">Activate
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <small>You can cancel email alerts at any time.</small>
                                    </form>
                                </div><!-- end form get alert -->

                                <!-- pagination -->
                                <nav>
                                    <ul class="pagination pagination-theme  no-margin">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&larr;</span>
                                            </a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">50</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&rarr;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!-- pagination -->

                            </div><!-- end box listing -->

                        </div>
                        <div class="col-md-3">
                            <div class="block-section-sm side-right">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <p><strong>Sort by: </strong></p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p class="text-right">
                                            <strong>Relevance</strong> - <a href="#"
                                                                            class="link-black"><strong>Date</strong></a>
                                        </p>
                                    </div>
                                </div>

                                <div class="result-filter">
                                    <h5 class="font-bold  margin-b-20"><a href="#s_collapse_1"
                                                                          data-toggle="collapse">Industries: <i
                                            class="fa ic-arrow-toogle fa-angle-right pull-right"></i></a></h5>
                                    <div class="collapse in" id="s_collapse_1">
                                        <div class="list-area">
                                            {% for by_industry in industry %}
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <a href="{{ by_industry.get_absolute_url }}">{{ by_industry.industry }}</a>
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <h5 class="font-bold  margin-b-20"><a href="#s_collapse_5"
                                                                          data-toggle="collapse">Functional Area: <i
                                            class="fa ic-arrow-toogle fa-angle-right pull-right"></i></a></h5>
                                    <div class="collapse in" id='s_collapse_5'>
                                        <div class="list-area">
                                            {% for by_functional_area in function_area %}
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <a href="{{ by_functional_area.get_absolute_url }}">{{ by_functional_area.functional_area }}</a>
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        </div>
                                    </div>


                                    <h5 class="font-bold  margin-b-20"><a href="#s_collapse_2"
                                                                          data-toggle="collapse">Location:
                                        <i class="fa ic-arrow-toogle fa-angle-right pull-right"></i></a></h5>
                                    <div class="collapse in" id="s_collapse_2">
                                        <div class="list-area">
                                            {% for by_location in location %}
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <a href="{{ by_location.get_absolute_url }}">{{ by_location.job_location }}</a>
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- modal need login -->
            <div class="modal fade" id="need-login">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">

                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">You must login to save jobs</h4>
                        </div>
                        <div class="modal-footer text-center">
                            <a href="#" class="btn btn-default btn-theme">Login</a>
                            <a href="#" class="btn btn-success btn-theme">Create account (it's free)</a>
                        </div>

                    </div>
                </div>
            </div><!-- end modal  need login -->


            <!-- modal need login -->
            <div class="modal fade" id="modal-email">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header ">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Send this job to yourself or a friend:</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>From my email address</label>
                                    <input type="email" class="form-control " placeholder="Enter Email">
                                </div>
                                <div class="form-group">
                                    <label>To email address</label>
                                    <input type="email" class="form-control " placeholder="Enter Email">
                                </div>

                                <div class="form-group">
                                    <label>Comment (optional)</label>
                                    <textarea class="form-control" rows="6"
                                              placeholder="Something Comment"></textarea>
                                </div>
                                <div class="checkbox flat-checkbox">
                                    <label>
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>
                                        Send a copy to my email address?
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-success btn-theme">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- end modal  need login -->
            <div class="modal fade" id="modal-apply">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <form>
                            {#                            <div class="modal-header ">#}
                            {#                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
                            {#                                        aria-hidden="true">&times;</span></button>#}
                            {#                                <h4 class="modal-title">Apply</h4>#}
                            {#                            </div>#}

                            <div class="modal-body">
                                {% for question in opening %}
                                    {% for que in question.Questions.all %}
                                        <div class="form-group">c
                                            <label>{{ que }}</label>
                                            <input type="text" class="form-control" placeholder="Answer here..">
                                        </div>
                                    {% endfor %}
                                {% endfor %}

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-success btn-theme">Send Application</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- end modal  apply -->

            <!-- start modal refer -->
            <div class="modal fade" id="modal-refer">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <form>
                            {#                            <div class="modal-header ">#}
                            {#                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
                            {#                                        aria-hidden="true">&times;</span></button>#}
                            {#                                <h4 class="modal-title">Apply</h4>#}
                            {#                            </div>#}
                            <div class="modal-body">
                                <form method="POST" role="form">
                                    <legend>Form Title</legend>
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-success btn-theme">Send Application</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- end modal  apply -->
        </div>


    {% endblock %}

    <!-- main-footer -->

</header>
<!-- end wrapper page -->
</body>