{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load humanize %}


{% block content %}


    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header Container
        ================================================== -->

        <div class="clearfix"></div>
        <!-- Header Container / End -->

        <!-- Spacer -->
        <div class="margin-top-90"></div>
        <!-- Spacer / End-->

        <!-- Page Content
        ================================================== -->
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="sidebar-container">


                        <!-- Keywords -->
                        <div class="sidebar-widget">

                            <h3>Keywords</h3>

                            <form method="get">
                                {{ filter.form.as_p }}
                            </form>

                            <form class="keyword-input-container">
                                <input type="text" name="q" placeholder="e.g. job title"/>
                                <button class="keyword-input-button"><i
                                        class="icon-material-outline-arrow-right-alt"></i></button>
                            </form>
                            <div class="keywords-list"><!-- keywords go here --></div>
                            <div class="clearfix"></div>

                        </div>


                        <!-- Location -->
                        <div class="sidebar-widget">
                            <h3>Location</h3>

                            <select class="selectpicker default" multiple data-selected-text-format="count"
                                    data-size="7" title="All Categories">
                                {% for by_location in location %}
                                    <option>{{ by_location.job_location }}</option>
                                {% endfor %}
                            </select>

                        </div>


                        <!-- Category -->
                        <div class="sidebar-widget">
                            <h3>Category</h3>

                            <select class="selectpicker default" multiple data-selected-text-format="count"
                                    data-size="7" title="All Categories">
                                {% for by_industry in industry %}
                                    <option>{{ by_industry.industry }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <!-- Job Types -->
                        {#                        <div class="sidebar-widget">#}
                        {#                            <h3>Job Type</h3>#}
                        {##}
                        {#                            <div class="switches-list">#}
                        {#                                <div class="switch-container">#}
                        {#                                    <label class="switch"><input type="checkbox"><span class="switch-button"></span>#}
                        {#                                        Freelance</label>#}
                        {#                                </div>#}
                        {##}
                        {#                                <div class="switch-container">#}
                        {#                                    <label class="switch"><input type="checkbox"><span class="switch-button"></span>#}
                        {#                                        Full Time</label>#}
                        {#                                </div>#}
                        {##}
                        {#                                <div class="switch-container">#}
                        {#                                    <label class="switch"><input type="checkbox"><span class="switch-button"></span>#}
                        {#                                        Part Time</label>#}
                        {#                                </div>#}
                        {##}
                        {#                                <div class="switch-container">#}
                        {#                                    <label class="switch"><input type="checkbox"><span class="switch-button"></span>#}
                        {#                                        Internship</label>#}
                        {#                                </div>#}
                        {#                                <div class="switch-container">#}
                        {#                                    <label class="switch"><input type="checkbox"><span class="switch-button"></span>#}
                        {#                                        Temporary</label>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {##}
                        {#                        </div>#}

                        <!-- Salary -->
                        {#                        <div class="sidebar-widget">#}
                        {#                            <h3>Salary</h3>#}
                        {#                            <div class="margin-top-55"></div>#}
                        {##}
                        {#                            <!-- Range Slider -->#}
                        {#                            <input class="range-slider" type="text" value="" data-slider-currency="$"#}
                        {#                                   data-slider-min="1500" data-slider-max="15000" data-slider-step="100"#}
                        {#                                   data-slider-value="[1500,15000]"/>#}
                        {#                        </div>#}

                        <!-- Tags -->
                        <div class="sidebar-widget">
                            <h3>Tags</h3>

                            <div class="tags-container">
                                {% for job in object_list %}
                                    {% for job_tag in job.tags.all %}
                                        <div class="tag">
                                            <input type="checkbox"/>
                                            <label>{{ job_tag.name }}</label>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 content-left-offset">

                    {% if query %}
                        <h3 class="page-title">Search Results by "{{ query | capfirst }}"</h3>
                    {% else %}
                        <h3 class="page-title">All Active Jobs</h3>
                    {% endif %}

                    <div class="notify-box margin-top-15">
                        <div class="switch-container">
                            <label class="switch"><input type="checkbox"><span class="switch-button"></span><span
                                    class="switch-text">Turn on email alerts for this search</span></label>
                        </div>

                        <div class="sort-by">
                            <span>Sort by: <strong>Freshness</strong></span>
                        </div>
                    </div>

                    <div class="listings-container margin-top-35">
{#                        {% for job in filter.qs %}#}
{#                        #}
                        {% for job in filter.qs %}

                            <!-- Job Listing -->
                            <a href="{{ job.get_absolute_url }}" class="job-listing">

                                <!-- Job Listing Details -->
                                <div class="job-listing-details">
                                    <!-- Logo -->
                                    <div class="job-listing-company-logo">
                                        <img src="{% static 'new_theme/images/company-logo-05.png' %}" alt="">
                                    </div>

                                    <!-- Details -->
                                    <div class="job-listing-description">
                                        <h4 class="job-listing-company">{{ job.company_name }} <span
                                                class="verified-badge"
                                                title="Verified Employer"
                                                data-tippy-placement="top"></span>
                                        </h4>
                                        <h3 class="job-listing-title">{{ job.job_title }}</h3>
                                        <p class="job-listing-text">{{ job.job_description | truncatechars:300 }}</p>
                                        <div class="tags-container margin-top-8">
                                            {% for job_tag in job.tags.all %}
                                                <div class="tag">
                                                    <input type="checkbox"/>
                                                    <label>{{ job_tag.name }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!-- Bookmark -->
                                    <span class="bookmark-icon"></span>
                                </div>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li style="color: #43A047"><strong>Referral Reward:<i
                                                class="icon-line-awesome-rupee"></i>{{ job.referral_reward | intcomma }}
                                        </strong>
                                        </li>
                                        <li><i class="icon-material-outline-location-on"></i> {{ job.job_location }}
                                        </li>
                                        <li>Salary:<i class="icon-line-awesome-rupee"></i>{{ job.max_salary_budget }}Lac
                                        </li>
                                        <li><i class="icon-material-outline-business"></i>{{ job.industry }}</li>
                                        <li>
                                            <i class="icon-material-outline-access-time"></i> {{ job.job_created|date:"M d, Y" }}
                                        </li>
                                    </ul>
                                </div>
                            </a>

                        {% endfor %}


                        <!-- Pagination -->
                        {% if is_paginated %}
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Pagination -->
                                    <div class="pagination-container margin-top-30 margin-bottom-60">
                                        <nav class="pagination">
                                            <ul>
                                                {% if page_obj.has_previous %}
                                                    <li class="pagination-arrow"><a
                                                            href="?page={{ page_obj.previous_page_number }}"><i
                                                            class="icon-material-outline-keyboard-arrow-left"></i></a>
                                                    </li>
                                                {% endif %}

                                                {% for i in paginator.page_range %}
                                                    <li {% if page_obj.number == i %}
                                                    {% endif %}>
                                                        <a href="?page={{ i }}">{{ i }}</a>
                                                    </li>
                                                {% endfor %}

                                                {% if page_obj.has_next %}
                                                    <li class="pagination-arrow"><a
                                                            href="?page={{ page_obj.next_page_number }}"><i
                                                            class="icon-material-outline-keyboard-arrow-right"></i></a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <!-- Pagination / End -->
                        {% endif %}

                </div>

            </div>
        </div>
    </div>


{% endblock %}