{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
    <body>

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header Container
        ================================================== -->
        <div class="clearfix"></div>
        <!-- Intro Banner
        ================================================== -->
        <!-- add class "disable-gradient" to enable consistent background overlay -->
        <div class="intro-banner" data-background-image="{% static 'new_theme/images/success-2697951_1920.jpg' %}">
            <div class="container">

                <!-- Intro Headline -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-headline">
                            <h3>
                                <span>Welcome to HiringNext !!</span>
                                <br>
                                <span>Discover Jobs. <strong class="color">Refer Friends. Get Paid.</strong> Hire Smarter.</span>
                            </h3>

                        </div>
                    </div>
                </div>

                <!-- Search Bar -->

                {#                <div class="row">#}
                {#                    <div class="col-md-12">#}
                {#                        <div class="intro-banner-search-form margin-top-95">#}
                {#                                <!-- Search Field -->#}
                {#                                <div class="intro-search-field with-autocomplete">#}
                {#                                    <label for="autocomplete-input" class="field-title ripple-effect">Where?</label>#}
                {#                                    <div class="input-with-icon">#}
                {#                                        {% render_field filter.form.job_title class="form-control" placeholder=filter.form.job_title.label %}#}
                {#                                        <i class="icon-material-outline-location-on"></i>#}
                {#                                    </div>#}
                {#                                </div>#}
                {##}
                {#                                <!-- Search Field -->#}
                {#                                <div class="intro-search-field">#}
                {#                                    <label for="intro-keywords" class="field-title ripple-effect">What job you#}
                {#                                        want?</label>#}
                {#                                    <input id="intro-keywords" type="text" placeholder="Job Title or Keywords">#}
                {#                                </div>#}
                {##}
                {#                                <!-- Button -->#}
                {#                                <div class="intro-search-button">#}
                {#                                    <button class="button ripple-effect"#}
                {#                                            onclick="window.location.href='jobs-list-layout-full-page-map.html'">Search#}
                {#                                    </button>#}
                {#                                </div>#}
                {##}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}

                <div class="row">
                    <div class="col-md-12">
                        <form class="intro-banner-search-form margin-top-95" method="get"
                              action="{% url 'jobopening-list' %}">

                            <!-- Search Field -->
                            <div class="intro-search-field">
                                <label for="intro-keywords" class="field-title ripple-effect">What job you
                                    want ?</label>

                                {% render_field filter.form.job_title class="intro-keywords" placeholder=filter.form.job_title.label %}

                            </div>

                            <div class="intro-search-field">

                                <label for="intro-keywords" class="field-title ripple-effect">Where ?</label>

                                {% render_field filter.form.job_location class="selectpicker" data-live-search="true" %}

                            </div>

                            <div class="intro-search-field">

                                <label for="intro-keywords" class="field-title ripple-effect">Industry</label>

                                {% render_field filter.form.industry class="selectpicker" data-live-search="true" %}

                            </div>
                            <!-- Button -->
                            <div class="intro-search-button">
                                <button class="button ripple-effect">Search</button>
                            </div>
                        </form>
                    </div>
                </div>


                <!-- Stats -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="intro-stats margin-top-45 hide-under-992px">
                            <li>
                                <strong class="counter">{{ total_opening.count }}</strong>
                                <span>Jobs <br> Posted</span>
                            </li>
                            <li>
                                <strong class="counter">{{ total_companies.count }}</strong>
                                <span>Awesome <br>Company</span>
                            </li>
                            <li>
                                <strong class="counter">{{ total_profiles.count }}</strong>
                                <span>Registered <br>Refers</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <!-- Category Boxes -->
    <div class="section margin-top-65">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <div class="section-headline centered margin-bottom-15">
                        <h3>Jobs By Industry </h3>
                    </div>

                    <!-- Category Boxes Container -->
                    <div class="categories-container">
                        {% for by_industry in industry %}
                            <!-- Category Box -->
                            <a href="{{ by_industry.get_absolute_url }}" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-industry"></i>
                                </div>
                                <div class="category-box-counter">{{ by_industry.jobopening_set.count }}</div>
                                <div class="category-box-content">
                                    <h3>{{ by_industry.industry }}</h3>
                                    <p>Software Engineer, Web / Mobile Developer & More</p>
                                </div>
                            </a>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Category Boxes / End -->


    <!-- Features Jobs -->
    <div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <!-- Section Headline -->
                    <div class="section-headline margin-top-0 margin-bottom-35">
                        <h3>New Jobs</h3>
                        <a href="{% url 'jobopening-list' %}" class="headline-link">Browse All Jobs</a>
                    </div>

                    <div class="listings-container grid-layout margin-top-35">
                        {% for job in new_jobs %}
                            <!-- Job Listing -->
                            <a href="{{ job.get_absolute_url }}" class="job-listing">

                                <!-- Job Listing Details -->
                                <div class="job-listing-details">
                                    <!-- Logo -->
                                    <div class="job-listing-company-logo">
                                        <img src="{% static 'new_theme/images/company-logo-02.png' %}" alt="">
                                    </div>

                                    <!-- Details -->
                                    <div class="job-listing-description">
                                        <h4 class="job-listing-company">{{ job.company_name }} <span
                                                class="verified-badge"
                                                title="Verified Employer"
                                                data-tippy-placement="top"></span>
                                        </h4>
                                        <h3 class="job-listing-title">{{ job.job_title }}</h3>
                                    </div>
                                </div>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <span class="bookmark-icon"></span>
                                    <ul>
                                        <li><i class="icon-material-outline-location-on"></i> {{ job.job_location }}
                                        </li>
                                        <li>
                                            <i class="icon-material-outline-business-center"></i>{{ job.employment_type }}
                                        </li>
                                        <li>
                                            <i class="icon-line-awesome-rupee"></i> {{ job.max_salary_budget }} Lac
                                        </li>
                                        <li><i class="icon-material-outline-business-center"></i>{{ job.industry }}
                                        </li>
                                        <li>
                                            <i class="icon-material-outline-access-time"></i> {{ job.job_created |date:"M d, Y" }}
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured Jobs / End -->

    <!-- Jobs By Functional Area Boxes -->
    <div class="section margin-top-65">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <div class="section-headline centered margin-bottom-15">
                        <h3>Jobs By Functional Area </h3>
                    </div>

                    <!-- Category Boxes Container -->
                    <div class="categories-container">
                        {% for by_functional in function_area %}
                            <!-- Category Box -->
                            <a href="{{ by_functional.get_absolute_url }}" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-industry"></i>
                                </div>
                                <div class="category-box-counter">{{ by_functional.jobopening_set.count }}</div>
                                <div class="category-box-content">
                                    <h3>{{ by_functional.functional_area }}</h3>
                                    <p>Software Engineer, Web / Mobile Developer & More</p>
                                </div>
                            </a>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Category Boxes / End -->

    </div>
    <!-- Wrapper / End -->

    </body>
{% endblock %}
